
{% extends "layout/page_layout.html" %}
{% set icon, title = 'fa fa-cogs', 'Dashboard' %}
{% block content %}

<!-- Start Home Dashaboard -->

<div  class="content center center ">

	<h1> <i class="fa fa-user"></i> &nbsp; Bem Vindo {{ user.first_name }} ! </h1>
	<h2 class="destak" > MD  <i class="fab fa-php" > </i> Framework</h2> 

	<br><br>
	 
	 <p class="colunm-center ">
		  <a alt="Logout Dashboard Panel" class="btn-default"    href="/logout"><i class="fas fa-sign-out-alt"></i> <b>Logout</b></a>	
    </p>


</div>
<!-- End Home Dashaboard -->







{% endblock %}