{% extends "layout/layout.html" %}
{% block home %}
        
  <div  class="home-left">
    <div class="bg-img"></div>
    <a onclick="toggle_menu()" class="menu-toggle-fixed" ><i class="fa fa-bars"></i></a> 
       <p class="slogan" id="typed-slogan" >...</p> 

      <div class="getstarted">
          <a style="" class="btn-primary" href="#content"  ><i class="fas fa-play" ></i>&nbsp; Get Started</a>
      </div>

  </div>

  <div style=" overflow-x: hidden !important;"  id="content" class="column-center home-right"> 
    
      
      <div class="destak2">

        <h2 class="destak" > MD <i class="fab fa-php" ></i> Framework</h2> 
       
        
        <p>
          Meu Mini-Framework PHP derivado do trabalho de desenvolvimento do meu próprio portifólio.
        </p>

          <div>
            <a class="btn-default" href="https://messiasdias.github.io/MD-PHP-Framework/" target="_blank"  ><i class="fab fa-github" ></i>&nbsp;GitHub </a> 
            <a class="btn-primary" href="https://messiasdias.ml" target="_blank"> <i class="fa fa-desktop"> </i>&nbsp;Portfolio</a>
          </div>


      </div>
       
     

  </div>
  
  {% endblock %}
