
{% extends "layout/home_layout.html" %}
{% block galery %}

  <!-- Galery -->
  <div  class="galery3 galery3-single"  id="portfolio"  @mouseover="location = 'portfolio';" v-on:read="app_redirect('#portfolio');"  >

     

    <div class="galery3-header"   >

      <div class="galery3-header-left" >

        <ul>
          <li v-bind:class="{ active: galery.single.preview.layout  == 'phone' }" @click="galery_single_preview('phone', false)" >Smartphone</li>
          <li v-bind:class="{ active:  galery.single.preview.layout  == 'tablet' }" @click="galery_single_preview('tablet')" >Tablet</li>
          <li  v-bind:class="{ active:  galery.single.preview.layout == 'desktop' }" @click="galery_single_preview('desktop')" >Desktop</li>
        </ul>

    </div>

      <a onclick="toggle('#menu')" class="menu-toggle" id="" ><i class="fas fa-bars"></i></a> 

    </div>


  
   
    <div  class="galery3-body"  >



      <div  class="galery3-body-content"    >


        <div   data-aos="flip-down" class="box" >
            
            <div class="box-header">
                <h2 class="box-title">{galery.single.item.title}</h2> 
                <b class="box-tx"> {galery.single.preview.dimensions[0]} x {galery.single.preview.dimensions[1]} </b>
                <a id="preview_rotation" title="Rotate Orientation" @click="galery_single_preview_rotate()" >  </a>
            </div>
            <div  class="box-body" v-bind:style="'min-height:'+galery.single.preview.dimensions[1]+';' "    >
    
             <iframe v-bind:style="'min-width:'+galery.single.preview.dimensions[0]+'; min-height:'+galery.single.preview.dimensions[1]+' !important;' " class="body-im" v-bind:src="galery.single.item.link" frameborder="0">

             </iframe>

            </div>



            <div class="box-footer">

                    <div title="Tag Categories" class="linkandtags"> 
                            <b if="galery.single.item.tag"  class="box-tx"> #html, #js,#css</b> 
                    </div>
          
                    <div class="controls">
                              <button type="button" id="like" title="Like" @click="galery_setLike($event,index)" ><i class="fas fa-heart"></i> <span> 100</span></button>               
                              <button type="button" id="comments" title="Comments" @click="galery_comments_openBox($event,index)" ><i class="fas fa-comment-dots"></i> <span> 50</span> </button>
                              <button type="button" id="share" title="Share"  @click="galery_share_openBox($event,index)" ><i class="fas fa-share"></i> <span> 10</span> </button>   
                    </div>

            </div>
            

        </div>  

        <div   class="description">

                <b  class="tx-subtitle">  #html, #js,#css </b> 
                <p  class="tx-small"> {galery.single.item.description} </p> 

        </div>
        


        <div v-if="!galery.single.item"  class="sorry"  >
        
                <h2 class="tx-subtitle">Oops!</h2> 
      
                <img style="display: non" v-bind:src="assets+'/img/default/erro2-a.png'"> 
      
                <p class="tx" >Sorry, Not Found Item!</p>
            </div>

     



        </div><!--end content-->


    </div>

    

    <div class="galery3-footer">

       

    </div>



  </div>
 <!-- /Galery -->

  {% endblock %}