/* Flex-Grid start */

.flex {
    display: flex;
    align-items: center;
  }
  

    @each $a in column,column-reverse,row,row-reverse {
    
      .#{$a} {
        
         @if $a == "row" {
           flex-flow: wrap !important;
           align-self: center !important;
         }

        @extend .flex;
        flex-direction: #{$a};
      }

      @each $b in center,around,evenly,between,start,end {

        $space:'';
        @if ( (around  == $b) or  (evenly == $b) or (between == $b)  ) {
          $space:'space-';
        }

        @if ( (start  == $b) or  (end == $b)  ) {
          $space:'flex-';
        }

        .#{$a}-#{$b} {
          @extend .flex;
          justify-content: #{$space}#{$b};
          flex-direction: #{$a};
        }


     }

  }
  


.container{
  width: 100% !important;
  max-width: 100% !important;
  margin: 0 !important;
  padding:5% ;
  float: left !important;
  box-sizing: border-box !important;

  &-fluid{
    @extend .container;
    padding: 0 !important;
  }

}



.col {
  @extend .column;
}

.col-rev {
  @extend .column-reverse;
}


.row-rev {
  @extend .row-reverse;
}

.center{
  @extend .flex;
  justify-content: center !important;
  align-content: center !important;
  align-self: center;
  align-items: center;
}


//.col-#{$size}-#{$count}

@each $size in sm,md,lg {
    
  @for $count from 1 through 12 {

      $calc:calc( (100%/12)*#{$count} );

      .col-#{$count} {
        align-self: center !important;
        width: $calc;
        min-width:$calc !important;
        max-width: $calc !important ;
        box-sizing: border-box !important;
        //border: solid 1px red;
      }
   

    @if $size == 'sm' {
      @media screen and (max-width: $sm ) {
        .col-#{$size}-#{$count} {
          width: $calc  ;
          min-width: $calc  ;
          max-width: $calc  ;
          box-sizing: border-box ;
        }
      }

    }
    @else {
      $size_px:0px;
      @if $size == 'md' {$size_px: $md}
      @if $size == 'lg' {$size_px: $lg}

      @media screen and (min-width: $size_px ) {
          .col-#{$size}-#{$count} {
            width: $calc;
            min-width: $calc;
            max-width: $calc  ;
          }
        }
    }    

  }    

}


/* Flex-Grid end */