
//import Scripts
@import "var_and_fonts.scss";
@import "efeitos.scss";


.mp0{
   margin:0 !important;
   padding: 0 !important;
  }

* ,*:hover { 
    transition: background-color  $cubic-bezier ;
    transition: width $cubic-bezier ;
    transition: height $cubic-bezier ;
    transition: display $cubic-bezier ;
    transition: rotate $cubic-bezier ;
    transition: scroll-behavior $cubic-bezier ;
    transition: letter-spacing $cubic-bezier ;
    margin: 0;
    padding: 0 ;
}

html {

    font-family: $font3 ;
    scroll-behavior: smooth !important;
    transition: scroll-behavior 3s ease-in-out;
    @include scrollbar($cor1, $cor2, rgba($preto2, .3), 5px );
       
    a{
        text-decoration: none !important;
    }  

}


body {
  user-select: none !important;
  @extend .mp0;
  letter-spacing: 2px !important;
  overflow-x: hidden !important;
  width: 100vw !important;
  max-width: 100vw !important;
  background: linear-gradient( to right, $branco  , rgba($cor2, .4) 600%  );
}

//.site
.site{
  width: 100% !important;
  box-sizing: border-box !important;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  
  & > .bg-img{
    opacity: .4;
    position: fixed;
    filter: grayscale(90%);
  }


}



//.bg-img
.bg-img {
  z-index: -1;
  background: $bg no-repeat ;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


  position: absolute;
  width: 100% !important;
  height: 100% !important;
  opacity: .4;
  transition: all .3s ease-in-out
}


//.bg-img
.bg-img2 {
   @extend .bg-img;
    background: $bg2 no-repeat  center fixed !important;
}

.bg-noyse{
    position: absolute !important;
    background: $noyse !important;
    background-color: rgba($cor1, .1)  !important;
    width: 100% !important;
    height: 100% !important;
    max-width: 100% !important;
    opacity: .6;
    z-index: -1;
    overflow:  hidden;
    box-sizing: border-box !important;
}

  
  .transition{
      transition-delay: .1s;
      transition: all .6s ease-in-out;
  }
  


  //.menu
.menu{
   
    width: calc(100%/3);
    @media screen and (max-width: #{$md}) {
        width: 100%;
    }


    height: 100%;
    z-index: 16;
    position: fixed !important;
    top:0;
    right: 0;
    background: $branco;
    padding: 5% !important;
    overflow: none !important;
    box-sizing: border-box !important;
    box-shadow: 1px -1px 10px rgba($preto2, .2);
    overflow-y: scroll;
    overflow-x: hidden;
    @include fadeinright;
    @include scrollbar($cor1, $cor2, $preto2, 1px );  
  
  
    @media screen and (max-width: #{$md}) {
      @include fadeindown;
    }
   
  
      & > .column-center {
          display: flex;
          flex-direction: column;
          align-items: center;
          min-width: 80%;
          max-width: 100%  !important;
          margin: 0 auto !important;
          margin: top;
          color: $preto2;
      }
  
      @media screen and (min-width: #{$md}+1) {
          & > :first-child{
              margin-top: 35vh !important;
          }
      }
  
      @media screen and (max-height:430px) {
          position: absolute;
      }
  
      @media screen and (max-width: #{$md}) {
          width: 100vw !important;
          max-width: 100vw;
          padding: 20px !important;
  
          & > :first-child{
              margin-top: 5vh !important;
          }
      
      }    
  
  
    
    
    & > .close{
      position: fixed !important;
      top: 25px !important;
      right: 25px !important;
      font-size: 2em !important; 
      color: rgba($preto2, .2)  !important;
      text-shadow: 1px 1px 1px $preto2;
  
      @media screen and (max-width: #{$md}) {
          top: -2vh !important;
          right: 5vw !important;
      }
    
        &:hover {
            cursor: pointer !important;
            color: $cor1 !important;
        }
  
  
    }
  
  
  
  
  
    &-list,  &-list-dropdown{
      color: $cor1;
      padding: 0px;
      padding-top: 50px;
      display: flex;
      flex-direction: column;

      & > .active{
        background-color: transparent !important;
        color:  $cor1 !important;
        border: solid 2px rgba( $cor1, .6 );
      }  

    }
  
    &-list-dropdown{
      flex-direction: column;
      justify-content: space-around;
      align-content: center;
      align-items: center;
    }
  
  
  
  
    &-item{
      min-width: 70%;
      max-width: 70%;
      margin: 5px auto !important;
      padding: 10px !important;
    }
  
  
    &-item, &-item-dropdown{
      
      overflow: hidden !important;
      padding: 10px ;
     
  
      & button{
          border: none;
          background-color: transparent;
          font-size: 1em;
          color: inherit ;
          font-family: $font3 !important;
          cursor: pointer;
      }
  
      
      color: $preto2 ;
      font-family: $font3 !important;
      font-size: .8em !important;
      
  
      &:hover{
          cursor: pointer !important;
      }
  
    }
  
  
  
    &-item-dropdown {
      margin: 2px auto !important;
      text-align: center;
      font-size: 1em;
      font-family: $font3 !important;
      font-weight: bolder !important;
      color: $preto2 !important; 
      
      &:hover{
          color: $cor1 !important; 
          text-decoration: solid 1px $cor1 !important;
      }
    }
  
  
  
  
    &-item{
      @extend .transition;
       border: solid 2px transparent;
       text-align: center;  
       border-radius: 60px;     
  
       ul{
          list-style: none;
          display: none;
       }
  
  
       &:hover{
          @extend .transition;
          @include btn_shadow($cor1);
          color: $branco !important;
          border-color: transparent !important;
       }
  
   }
  

  
  
 
  
  }


  //.menu-toggle
.menu-toggle {
   
    position: relative !important; 
    font-size: 2em !important; 
    color:$preto2 !important;
    text-shadow: 1px 1px 1px rgba($preto2, .1);
    z-index: 10 !important;
   
      &:hover {
          cursor: pointer !important;
          color:$cor2 !important;
      }
  }



//.menu-toggle-fixed
.menu-toggle-fixed {
  @extend .menu-toggle ;
  position: fixed !important;
  top: 25px !important;
  right: 25px !important;
  opacity: .5;
}

#menu-toggle-fixed{
    z-index: 15; 
}


.avatar{
    width: 50px !important;
    border-radius: 50%;
    box-shadow: -1px 1px 5px $preto2; 
  }




  //.social
.social {
   // @extend .center, .col-12;

   display: flex;
   justify-content: center;
   align-items: center; 
    flex-wrap: wrap !important;
    margin-top: 10px;
    width: 80vw !important;
    margin: 0 auto;
    @include fadeindown;

    &-item{

        font-size: 2.5em;
        color: $preto2 !important;
        margin: 5px;
        cursor: pointer;
        transition-duration: .3s !important;

        &:hover{
            color: $cor1 !important;
             transition-duration: .3s !important;
             @include jump;
        }
    }
    
    
 }


  //.btn-custom
.btn{
    
    font-size: .8em;
    font-weight: bold;
    text-decoration: none;
    background-color: $preto2;
    border: none !important;
    padding: 10px 20px;
    margin: 5px;
    min-width: 15vw;
    transition: all  .3s ease-in-out !important;
    transition-delay: .1s !important; 
    text-align: center !important;

    @media screen and (max-width: #{$md}) {
        min-width: 35vw;
    }


    border-radius: 50px;
    cursor: pointer;
    background-color: #cccc;
    color: $preto2;
    transition: all  3s ease-in-out ;
    transition-delay: .6s;

    &:focus{
        box-shadow:none !important;
        outline: none !important;
        -webkit-box-shadow: none;
    }

    &:hover{
        transition: all .2s ease-in-out !important;
    }    


    &-primary, &-secundary,&-default, &-success, &-warning, &-error, &-primary2, &-default2 {
        @extend .btn;
    }



    &-primary{

        background-color: $cor1 !important;
        color: $branco !important;
    
        &:hover, &:active{
            @include btn_shadow($cor2);
        }

    }

    &-primary2{

        background-color: transparent !important;
        color: $cor1 !important;
        border: solid 2px $cor1 !important;

        &:hover, &:active{
            @include btn_shadow($cor1);
            border-color:  transparent !important;
            color: $branco !important;
            font-weight: bolder;
        }
    }


    &-secundary{

        background-color: $cor2 !important;
        color: $branco !important;
        
    
        &:hover, &:active{
            @include btn_shadow($cor3);
        }

    }

    

    &-default{

        color: $preto2 !important;
        background: #d9d9d9 !important;

        &:hover, &:active{
            @include btn_shadow($preto2);
            color: $branco !important;
        }

    }

    &-default2{

        background-color: transparent !important;
        color: $preto2 !important;
        border: solid 2px $preto2 !important;

        &:hover, &:active{
            @include btn_shadow($preto2);
            color: $branco !important;
            border-color:  transparent !important;
          
        }
    }


    &-success{
        color: $success;
    
        &:hover, &:active{
            @include btn_shadow($success);
            color: $branco !important;
        }
    }


    &-error{
        color: $error !important;
    
        &:hover, &:active{
            @include btn_shadow($error);
            color: $branco !important;
        }
    }

    &-warning{
        color: $warning !important;
    
        &:hover, &:active{
            @include btn_shadow($warning);
            color: $branco !important;
        }
    }


    &-circle{
        min-width: initial !important;
        width: 40px !important;
        max-width: 40px !important;
        height: 40px !important;
        max-height: 40px !important;
        padding: 10px !important;
        border-radius: 50% !important;

        @each $btn in default,primary,secundary,success,error,warning {
            &-#{$btn} {
                @extend .btn-#{$btn};
                @extend .btn-circle;
                font-size: .9em !important;
            }
        }

    }


    &-lg{
        font-size: 1em;
        padding: 2.5vh 5vw !important;
    }

}




.tx{

    color: $preto2;
    //@include fadein;

    &-title,  &-subtitle, &-small{
        @extend .tx;
    }

    
    &-title{
        color: $cor2;
        //font-size: 2em;
        @media screen and (max-width: #{$md}) {
            //font-size: 1.5em;
        }
        font-weight: bold;
        text-shadow: .1px .1px 1px $preto2;
    
    }

    &-subtitle{
        color: $cor1;
        //font-size: 1.5em;
        @media screen and (max-width: #{$md}) {
           // font-size: 1em;
        }
        font-weight: 100;
    }

    &-small{
        color: $preto2;
        font-family: $font2;
        font-weight: bolder;
        opacity: 10;
        font-size: .8em;

        @media screen and (max-width: #{$md}) {
            font-size: .6em;
        }
    }
}




//home2
.home2{
    @extend .mp0;
    width: 100vw !important;
    display: flex;
    flex-direction: row;
    overflow: hidden !important;
    box-sizing: border-box !important;
    background: linear-gradient( to bottom, transparent , rgba( $cor1, .7 ) 90% );
    

    @media screen and (max-width: 500px) {
        flex-direction: column;
        border: none !important;
    }
    
    & > .menu-toggle{
        z-index: 1 !important;
    }

    .left, .right{
        display: flex;
        flex-direction: column;
        justify-content: center !important;
        box-sizing: border-box !important;
        height: 100vh !important;

        @media screen and (max-width:500px) {
            width: 100% inherit !important;
            height: 50vh !important;
        }
    }

    .left {
        background: transparent;
        box-sizing: border-box !important;
        padding: 20px;
        width: 100% !important ;
        height: 100% inherit !important;
        display: flex;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: flex-end;

        @media screen and (max-width: #{$md} ) {
            width: 100% !important;
            height: 10% inherit  !important;
            background: transparent !important;
            align-items: center;
        }



            .slogan{
                width: 100% ;
                display: flex;
                width: 100% ;
                flex-direction: column !important;
                justify-content: flex-start !important;
                align-items: flex-end;

                @media screen and (max-width: #{$md}) {
                    align-items: center !important;
                }
            
                #a{ @extend .tx-title; font-size: 2em;}

                #b{ @extend .tx-subtitle; font-size: 1.5em;  }

                #c{ @extend .tx-small; font-size: .8em; }
                padding:  20px;
            }


            .buttons-content{
        
                display: flex;
                justify-content: flex-end !important;
                flex-direction: column !important;
                max-width: 80% ;
                //@include fadeinup;
                

                @media screen and (max-width: #{$md}) {
                    flex-direction: column !important;
                    justify-content: center !important;
                }

                & a{
                   max-width: 80px !important;
                   @media screen and (max-width: #{$md}) {
                    margin-left:0 ; 
                   }
                }
            }
   

}


.right{
    width: 50% !important;
    min-height: 100%  !important;
    background: transparent;
    @media screen and (max-width: 500px) {
       width: 100% !important;
       height:  20% !important;
       position: relative;
       bottom: 0;
       right: 0;
       justify-content: center !important;
       padding: 10px;
    }

    img {
        position: relative;
        width: 100%; 
        min-width: 300px;
        height: auto !important;
        margin-left: 0px auto !important;
        opacity: 50;
        @include fadein;

        @media screen and (max-width: 500px) {
            width: 100% !important; 
            max-width: 100% !important;
        }
    }


}
    

}







.galery3{
      width: 100%;
      min-height: 70vh;
      padding: 0px 0px;  
      background: linear-gradient( to top, transparent , rgba( $cor1, .7 ) 90% );
   
     @media screen and (max-width: 500px) {
        border: none !important;
     }


    &-header, &-body, &-footer{
        width: 100%;
    }

    &-header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 5px;
        
        &-left {
            display: inherit !important;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        
            & ul{  
                display: flex;
                flex-wrap: wrap !important;
                justify-content: center;
                list-style: none;
                padding: 0 !important;
            
                
            &  .active{
                border-color: $branco !important;
                color: $branco !important;
                }

                li {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin: 5px;
                    border-radius: 50px;
                    padding: 5px 20px;
                    border: solid 2px transparent !important;
                    color: $branco !important;
                    font-weight: bold;
                    font-family: $font2;
                    font-size: .8em !important;

                    &:hover{
                        color: $cor1  !important;
                        border: solid 2px $cor1 !important;
                        cursor: pointer !important;
                    }
                    
                }

        
            }



            & > .search {
                    
                display: flex !important;
                flex-direction: row !important;
                @media screen and (min-width: 800px) {
                    margin-left: 30px;
                 }
     
                &:hover{
                    border-color: transparent !important;
                }

                & > form {
                    display: inherit !important; 
                    flex-direction: row !important;
                }

                & input {
                    border: solid 2px transparent;
                    border-radius: 50px;
                    height: 30px !important;
                    color: $branco;
                    background: rgba($preto2, .2);

                    &::placeholder{
                        text-align: center !important;
                        color: $branco !important;
                        font-size: .8em !important;
                    }

                    &:focus{
                        outline: none !important;
                        box-shadow: none !important;
                        background: rgba($preto2, .5);

                        & ~ button{
                            background: rgba($preto2, .5) !important;
                        }
                    }
                }

                button {
                    @extend .btn-circle-default;
                    width: 32px !important;
                    height: 32px !important;
                    margin: 2px !important;
                    background: rgba($preto2, .2) !important;
                    color: $branco !important;
                }

            }


      }


      

        &-fixed {
            justify-content: space-between;
            position: fixed;
            z-index: 10;
            top:0;
            padding: 10px !important;
            background: $branco;
            min-width: 100% !important;
            max-width: 100% !important;
            text-align: left;
            @include fadeindown;
            transition-delay: 1s !important;
            box-shadow: -.1pc -1px 10px rgba($preto2, .2);
            

         .galery3-header-left{

           & > ul{

               & li{
                color: rgba($preto2, .2) !important;
                &:hover{
                    border-color: $preto2 !important;
                    color: $preto2 !important;
                }

               }     

                &  .active{
                    border-color: $cor1 !important;
                    color:$cor1 !important;
                }

            }
         }        

            & > .menu-toggle {
                display: inline-block !important;
                margin-right: 30px;
                color: rgba($preto2, .3) !important;
                &:hover{
                    color: $cor1 !important;
                }
            }
    


        }


       

        &  > .menu-toggle{
            display: none;
        }



    }


    &-body{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap !important;
        width: 90%;
        padding: 0px 5% ;

        &-title{
            color: $cor1;
            padding: 5px 10px;
            border-radius: 50px;
            text-align: left;
        }

        &-content {
            //border: solid 1px red;
            min-width:100%;
            min-height: 60vh;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap !important;
            padding: 10px 0px;
            margin: 20px 0 ;

            .sorry{
                //border: solid 1px red;
                display: inherit;
                flex-direction:  column !important;
                justify-content: center;
                align-items: center;
                text-align: center;

                img{
                    //border: solid 1px red;
                    max-width: 180px;
                }

                

            }
        }

        & > .box , &-content > .box {
            width: 48%;
            margin: 1% ;
            overflow: hidden;
           

            @media screen and (max-width: #{$md}) {
                width: 45% !important;
                margin: 10px 0px !important ;
             }

            @media screen and (max-width: 896px ) {
                width: 100% !important;
             }

             @media screen and (max-width: 600px) {
                width: 100% !important;
             }
            
        }

    }

    &-footer{
        display: flex;
        justify-content: center;
        background-color: transparent;
        min-width: 100% !important;
        padding: 20px 0px;
        

        a{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: .8em !important;
        }
    }



}
// end .galery3


.galery3-single{

    .galery3-header-left {
       & ul > li > svg { font-size: .7em !important; } 
    }


    .galery3-body-content > .description{
      
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
        align-self: flex-start;
        padding: 30px;
        width: 100%;
        
        h3{
            max-width: 200px;
        }

        p {
            margin: 7px 0;
            font-weight: 100 !important;
            text-align: left;
        }
    }

    .box {
        width: auto !important;

        &-header svg {
            color: $preto2;
            font-size: 1.3em;
            cursor: pointer !important;
            padding: 10px;
            border-radius: 50%;
        }
        
        &-header a {
            transition-delay: 1s !important;
            transition: all 2s ease-in-out !important;
        }
        
        &-body{
             overflow-x: scroll !important;
        
            & iframe{
                width: 100% !important;
                min-height: 600px !important;
                transform: translateY(0%) !important;
                overflow-x: scroll !important;
    
                &:hover{
                    transform: scale(.9);
                }
        
            }

         }   

    }




}

.box{

    border-radius: 5px;
    box-shadow: -1px 1px 10px rgba($preto2, .1);

    &-title, &-tx{
        opacity: 10; 
        padding: 10px;   
    }

    &-title{
        color: $cor1;
        font-size: .9em;
    }

    &-tx {
        color: $preto2;
        font-size: .6em;
    }

     
    &-header, &-footer {
        background-color: $branco;
    }

   

    &-header{
        padding: 10px 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between !important;
        align-items: center;
        border-bottom: solid .3px $preto2;
        
        & > .box-title, & > .box-tx{
            color: rgba($preto2, .3);
        }

        .box-tx{
            @media screen and (max-width: #{$md}){display: none; }
         }

        & > .box-title{
            padding: 10px;
            text-shadow: -.1px .1px .1px rgba($preto2, .1);
        }

        
    }

    &-body{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        min-height: 300px;
        max-height: 300px;
        box-shadow: inset -1px 1px 5px rgba($preto2, .1);
        @media screen and (max-width: #{$md}) {
            min-height: 100px;
            max-height: 200px;
         }

        overflow: hidden;
        padding: 0px;
        transition: all  .6s ease-in-out ;

        & img{
            width: 100%;
            height: 100%;
            transform: translateY(0%) !important;

            &:hover{
                transform: scale(.9);
            }
        }

        p{

            text-align: center;
            text-justify: distribute-all-lines !important;
            font-size: 1em;
            width: 100%;
            height: 100%;
           
            &:hover{
                cursor: pointer;
            }
        }


       
        

    }

   &-footer{
      
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: $branco;
    border-top: solid .3px $preto2;
    max-height: 50px;
    bottom: 0;

         .linkandtags{
         

            a{
                font-size: .6em !important;
                font-weight: 100 !important;
            }

            @media screen and (max-width: #{$md}) {
              b{ display: none !important; }
            }
         }

        .controls{
           
            display: flex;
            align-items: center;
            flex-direction: row;

            button{
                display: flex;
                align-items: center;
                color:rgba($preto2, .3);
                font-size: 1.2em;
                margin: 5px 10px;
                @media screen and (max-width: #{$md}) {
                // margin: 5px auto;
                }
                padding: 5px;
                bottom: 0;
                border: none !important;
                background: none !important;

                &:hover{
                    @include jump;
                    cursor: pointer;
                }

                &:focus{
                    outline: none;
                }
    
                span{
                    display: none !important;
                    @media screen and (max-width: #{$md}) {
                        display: none !important;
                    }
                    font-size: .3em;
                    background: $cor1;
                    color: $branco;
                    margin-left: 5px;
                    font-weight: bolder;
                    padding: 3px;
                    margin-bottom: 5px !important;
                    box-shadow: -.1px .1px .1px $preto2;
                    align-self: flex-start !important;
                   
                }

            

        }



        & > #like{
            &:hover{
                color: rgba($error, .7) !important;
            }
        }

        & > #comments{
            &:hover{
                color: $warning !important;
            }
        }

        & > #share{
            &:hover{
                color: $info !important;
            }
        }



   }     

}


}




.about3{
    width: 100%;
    @media screen and (max-width: 500px) {   min-height: auto; }
    background:  linear-gradient( to bottom, transparent 40% , rgba( $cor2, .3 ) ), transparent;
    align-content: center;
    justify-content: center;
    flex-direction: row;

    @media screen and (max-width: 500px ) {
       // background:  linear-gradient( to bottom, transparent 40% , rgba( $cor2, .2 ) ), $branco;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .bg{
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;

        
        & > .bg-img{
            z-index: -1 !important;
            max-height: 100% inherit !important;
            opacity: .2;
            filter: grayscale(70%);
         }
       }

    &, &-left, &-right{
        display: flex;
        align-items: center;
    }
    
    &-left, &-right{
        width: 50%;
        max-height: 400px;
        padding: 0px 2.5%;
        @media screen and (max-width: 500px ) {
            width: 80%;
            min-height: 100px;
            //padding: 20px 10%;
        }
    }

    &-left{
        justify-content: flex-end !important;
        padding:  0 !important;
        overflow: hidden; 
   
        @media screen and (max-width: 500px) {  
            justify-content: center !important ;
            padding: 10px 0px !important;
        }

        img{
            z-index: 1;
            width: 100%;
            min-height: 100% inherit;
            box-shadow: -2px 2px 5px rgba($preto2, .1);
            transform: translateX(-20%) scale(.8);
            border-radius: 0% 50% 50% 0 !important;
            user-select: none;
           // opacity: .8;
            filter:grayscale(200%);
            background: $branco;
            //border: solid 60px transparent ;

            @media screen and (max-width: 500px) {  
                min-width: 40vw;
                 max-width: 80%;
                 transform: translateX(0%);
                 border-radius:  50% !important;
            }
           
           
        }
    }

    &-right{
       
        flex-direction: column !important;
        justify-content: center !important;
        align-content: flex-start !important;
        align-items: flex-start;
        padding: 10px;
        padding-left: 0 !important;
        padding-right: 0 !important;
        @media screen and (max-width: 500px) { align-items:  center !important ;}
       
       
    
        h2, h3, p, small{
            border: inherit;
            opacity: 20;
            padding: 2px;
            @media screen and (max-width: 500px) { text-align: center !important ;}
        }


        h2{
            @extend .tx-title;
            color: $cor2;
            font-size: 1.1em;
        }

        h3{
            @extend .tx-subtitle;
            color: $cor1;
            font-family: $font2;
           font-size: .8em;
        }

        p{
            @extend .tx;
            color: $preto2;
            font-size: .7em;
            max-width: 300px;
            @media screen and (min-width: 500px) { 
                // margin: 10px 20px; 
            }
        }

        small{
            @extend .tx-small;
            color: $cor2;
        }

        button{
            opacity: 20;
            width: 100% inherit !important;
            //margin: 20px auto;
            display: none;
        }


          //.social
            .social {
                
                max-width: 100%;
                justify-content: flex-start;
                @media screen and (max-width: 500px) { 
                    justify-content: center;
                }
                
                &-item{
                    width: 30px !important;
                    height: 30px !important;
                    @media screen and (max-width: 500px) {
                        width: 35px !important;
                        height: 35px !important;
                    }
           
                    color: $branco !important;
                    background-color: $cor1;
                    border: solid 2px $cor1;
                    padding: 2px !important;
                    border-radius: 50% 50%;
                    font-size: 1.5em  !important;
                    display: flex; 
                    justify-content: center;
                    align-items: center;
                    opacity: 20 !important;
                    box-shadow: 1px 1px 5px rgba($preto2, .1);

                    &:hover{
                        border-color: $cor2 !important; 
                        background-color: $cor2;     
                    }
                }
                
                
            }


    }


}


.modal-base {    
    z-index: 100;
    position: fixed;
    width: 100vw !important;
    height: 100vh !important;
    background: rgba($preto2, .4);
    overflow:  hidden !important;
    justify-content: center;
    align-items: center;

    .box {
        max-width: 90%;
        margin: 5% auto !important;
        @include fadeindown;
        transition-delay: .6s !important;

        &-header{
            a {cursor: pointer;}
        }

        &-body{
            background: $branco !important;
        }
    }

}

.page{
    width: 100%;
    min-height: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;

     &-header, &-body , &-footer{
        border: solid 1px red;
        width: 95%;
    }

    &-header{
        background-color: rgba($branco, .8);
        display: inherit !important;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px 2.5% !important;
        max-height: 40px;

        h1, a{
            border: solid 1px red;
        }

        h1{
            font-size: .8em;
        }

    }

    &-body {
        min-height: 60vh !important; 
    }
  

   
}