
{% extends "layout/layout.html" %}
{% block home %}


 <!-- Home -->
  <div data-aos="fade-in" data-aos-duration="4000"  class="home2"  @mouseover="location = 'home';"   >
    
    
          <a  onclick="toggle('#menu')" class="menu-toggle-fixed" ><i class="fa fa-bars"></i></a>   
          


          <div class="left"> 
              
            <div class="slogan">
                      <p id="a">  <b class="typed-slogan"></b> </p>
                      <p id="b" class="typed-slogan2" ></p>
                      <small id="c" class="typed-slogan3" ></small>    
              </div>


              <div class="buttons-content" >
                  <a data-aos="fade-right"  class="btn-primary" href="#portfolio">Portfolio</a>
                  <a data-aos="fade-left"  class="btn-default2" href="#about">Me</a>
              </div>

          </div>


          <div class="right">

              <img src="{{assets}}/img/default/home-img.png" />
            
            
          </div>

     
  </div>
  <!-- /Home -->




  {% block galery %}{% endblock %}



  <!-- About -->
  <div class="about3" id="about"  @mouseover="location = 'about';"  >
  
    

        <div class="about3-left">
          <img src="{{assets}}img/default/eu.jpg" alt="">
        </div>
    
    
    
        <div class="about3-right">
          <h2>Messias Dias</h2>
          <h3>Technical Support Analyst</h3>
    
          <p>
            Internet Computer Technician,<br>In love with technology,Has worked with IT since 2011, Support Analyst,
            Web Developer under PHP with JavaScript, HTML and CSS, as well as frameworks, libs, CMS and engines like: Bootstrap, Laravel, jQuery, Twig, Wordpress, Sass.
          </p>
    
         
         
    
    
          <div  class="social">
    
            <a style="display: none;" class="social-item" target="_blank" href="https://www.facebook.com/messiasw.dias"><i class=" fab fa-facebook-square"></i></a>  
    
            <a class="social-item" target="_blank" href="https://www.linkedin.com/in/messiasdias/"><i class=" fab fa-linkedin"></i></a>
    
            <a class="social-item"  target="_blank" href="https://github.com/messiasdias"> <i class="fab fa-github-square"></i></a>
    
            <a class="social-item" target="_blank" href="https://bitbucket.org/messiasdias"><i class="fab fa-bitbucket"></i></a>
            
            <a  class="social-item" target="_blank" href="mailto:messiasdias.ti@gmail.com"><i class="fas fa-envelope-square"></i></a>
    
          </div>
    
    
           <button class="btn-success " >WathsApp Now! <i class="fa fa-share-alt"></i>  </button>
    
    
    
        </div>
      
      
      </div>
     <!-- /About -->
     

  
  
  
    {% endblock %}
  