

      <nav style="display: none !important; " id="menu" class="menu column-between" >  
            
            <a onclick="toggle('#menu')" class="close"> <i class="fa fa-times"></i> </a>      
       
                  <div style="" class="menu-list">
                        <a class="menu-item"  v-bind:class="{'active': location == 'home' }" alt="Home page" href="/#"><b>Home</b></a>

                        {% if   middleware('auth')   %}
                         <a class="menu-item" alt="Dashboard page" href="/admin"><b>Dashboard</b></a>
                        {% endif %}
                        <a class="menu-item" v-bind:class="{'active': location == 'portfolio' }" alt="Galery Jobs" href="/#portfolio"><b>Portfolio</b></a>
                        <a class="menu-item" v-bind:class="{'active': location == 'about' }" alt="Galery Demos" href="/#about"><b>Me</b></a>

                         {% if   middleware('guest')   %}
                         <a class="menu-item" style="opacity: .0000001;" alt="Galery Demos" href="/login"><b>Login</b></a>
                         {% endif %}
                  </div>


            
                        <br><br> 
                        <div v-if="user_middleware('auth')" class="column-center">
                              <a id="avatar" v-bind:href="'/users/profile/'+user.id"> <img width="" class="avatar" v-bind:src="assets+user.img"></a>  
                              <b class="">{user.first_name} </b><br>
                              <a alt="Logout Dashboard Panel" class="btn-default"  @click="user_logout($event)"  ><i class="fas fa-sign-out-alt"></i> <b>Logout</b></a> 
                        </div>

                  


      </nav>



       
     

 

        
    



