<div style="display: none;" id="mymodal" class="modal-box" >

	<div  class="modal">

	 	
  		<p class="msg">Modal detele Msg?</p>


  		<form action="" method="" > 
		   
  			<input type="hidden" name="token" id="token" value="{{token}}">
            <input type="hidden" name="id" id="id" value="">

	  		<div class="btn-group">

	            <button onclick="toggle('#mymodal')" type="button" class="btn-circle-error" title="Back" onclick="" >
	                <i class="fas fa-times"></i>
	            </button>
	                             
	            <button title="Submit" class="btn-circle-success" type="submit">
	                <i class="fas fa-check"></i>
	            </button>

	        </div>

        </form>

	</div>	

</div> 