

<div class="modal-base" v-if="modal.visible == true" >

<div  class="box"  >

    <div class="box-header">
        <h3 class="box-title">{modal.title}</h3>
        <a @click="modal_toggle($event)"  class="tx"> <i class="fa fa-times" ></i></a>
    </div>
  
    <div class="box-body"> 

         <button style="max-width: 200px; display:non;" @click="fbloginteste" class="btn-primary" ><i class="fab fa-facebook"></i> Facebook Login </button> 

    </div>

    <div class="box-footer"></div>

</div>

</div>

