{% extends "layout/page_layout.html" %}
{% set icon, title = 'fas fa-exclamation-triangle', '401' %}
{% block content %}

     {% include 'layout/http_layout.html' with
                   
     { 
       'template_class' : 'info',
       'img': 'assets/img/default/erro.png',
       'h2':'Denied Access!',
       'p':   (user == false ) ?  'Go To Login Page Clicking the Down Button' : 'Go To Dashboard Page!',
       'btn_text':  (user == false ) ? 'Login' : 'Dashboard',
       'btn_link':   (user == false ) ? '/login' : '/admin' 
     } only 
     
   %}


 
{% endblock %}

