

<tr>
  
  
<td class="" > 
    <a href="/users/profile/{{user_item.id}}"> 
      <img title="{{user_item.name}}" class="avatar" src="{{assets}}{{user_item.img ? user_item.img : '{{assets}}/img/default/avatar.png'}}" alt="{{user_item.first_name | capitalize}}">
    </a>
</td>

        <td> <a  href="/users/profile/{{user_item.id}}" >{{user_item.first_name}} {{user_item.last_name}} </a> </td>

        <td>{{user_item.username}}</td>

        <td>{{user_item.email}}</td>

        <td>
            {% if  user_item.rol == 1 %}
              Admin
            {% elseif  user_item.rol == 2 %}
              Manager
            {% elseif  user_item.rol == 3 %}
              User
            {% endif %}
        </td>

       <!-- <td>{{user_item.created | date("d/m/Y h:i:s", "America/Recife")}}</td>
    
        <td>{{user_item.updated | date("d/m/Y h:i:s", "America/Recife")}}</td> -->
         

  <td class="" >
      {{ include('users/buttons.html') }} 
  </td>

</tr>