{% extends "layout/page_layout.html" %}
{% set icon, title = 'fas fa-user', 'Profile' %}
{% block content %}

<div class="content  ">

        {% if user_item %}

                <div  class="buttons btn-group">
                         <button type="button" class="btn-circle-default" title="Back" onclick="window.location.href='{{user.rol == 1 ? '/users' : '/admin'}}'" >
                        <i class="fas fa-reply"></i></button>
                        {{ include('users/buttons.html') }} 
                </div>
               
                <img style="width: 20vw;"  class="avatar" src="{{assets}}/{{ user_item.img  ? user_item.img : '/img/default/avatar.png'}}">
                <h1>{{user_item.first_name}} {{user_item.last_name}}</h1>
                 <h3>
                        {% if  user_item.rol == 1 %}
                        Admin
                        {% elseif  user_item.rol == 2 %}
                        Manager
                        {% elseif  user_item.rol == 3 %}
                        User
                        {% endif %}
                 </h3>       

                <p> <b><i class="fas fa-envelope-square"></i></b> {{user_item.email}}</p>
                <p> <b><i class="fas fa-file-medical"></i></b>  {{user_item.created | date("d/m/Y h:i:s", "America/Recife") }}</p>
                <p> <b><i class="fas fa-file-signature"></i></b> {{user_item.updated | date("d/m/Y h:i:s", "America/Recife") }}</p> 
                
       {% else %}  
        
                <img   class=""  src="{{assets}}/img/default/erro.png" >
                <h1>Im Sorry!</h1>
                <h3>The user was not found, it does not exist!</h3>

       {% endif %}         


 </div>
 
 {% endblock %}