{% extends "layout/page_layout.html" %}
{% set icon, title =  icon ?  icon  : 'exclamation-triangle', galery ? galery  | capitalize : "I'm Sorry!"  %}

{% block content %}

      {% set item_not_found = true %}

      {% if itens %}

        {% include 'layout/pagination.html' with { paginationlink: galery } %} 

         {% for item in itens %}
            {% if  is_publish(item)  or ( is_author(item) or middleware('admin') )  %}
                 {{ include('galery/item.html') }} 
            {% endif %}
        {% endfor %} 

      {% else %}
         {{ include('galery/item_not_found.html') }} 
      {% endif %}

 {% endblock %}