

<div id="{{ name_encode(item.title) }}"  class="galery-item">

  <div class="galery-item-header">

    <p style="display: none;">{{item.author_name}} </p>
    <small>{{ item.created|date("F/Y ", "America/Sao_Paulo") }}</small>

  </div>

   <div class="galery-item-body">

      <img  src="{{assets}}{{item.img}}" alt="{{item.title}}" />

      <h2>{{item.title}}  </h2>
      <p> {{item.description}} </p> 

      <a class="btn-default "  href="/{{galery|lower}}/{{ name_encode(item.title) }}">
        <i class="far fa-eye"></i> Visualize
      </a>  

    </div>

    <div id="controls" class="galery-item-footer">                  
        <a href="" title="Like" ><i class="fas fa-thumbs-up"></i> <span> 100</span></a>
        <a href="" title="Comments" ><i class="fas fa-comment-dots"></i> <span> 50</span> </a>
        <a href="" title="Share" ><i class="fas fa-share-alt"></i> <span> 10</span> </a>
     </div>

</div>