{% include 'layout/log_template.html' with
                  
                    { 
                      'template_class' : '',
                      'img': 'assets/img/default/erro.png',
                      'h2': (search) ? 'No Results Returned for' : 'No Results Returned ' ~ ' ' ~ search ~ ' !',
                      'p': 'Return to Home Clicking the Down Button',
                      'btn_text': 'Back To Home',
                      'btn_link': '/'  
                    } only 
                  
%}