{% extends "layout/page_layout.html" %}
{% set icon, title = 'fas fa-vial', 'Teste Download File' %}
{% block content %}
 <div class="content center ">

      <h2 id="title" class="destak">...</h2>
      <br> <br>
      <form  method="POST" action="/download">
        <input type="hidden" id="name" name="name" value="md-logo2.png" />
        <input type="hidden" name="path" value="../assets/public/img/" >
        <button class="btn-default" type="submit"><i class="fas fa-download"></i>  Download</button>  
      </form>
      
      <!-- <a class="btn-primary" href="/"><i class="fa fa-home"></i> Back To Home</a> -->
 </div>


 <script> 

    document.getElementsById("title").inneHTML = document.getElementsById("name").value;
    console.log(document.getElementsById("name").value);

  </script>


{% endblock %}
