  {% extends "layout/page_layout.html" %}
  {% set icon, title = 'fas fa-vial', 'Teste Update File' %}
  {% block content %}
   <div class="content center ">
        {%if name %}
            <p class="tx tx-md tx-success"><i class="fa fa-home"></i> Meu nome é: {{name}}</p>
        {% endif %}


        <div class=" form-custom" >
          <h3> Single Upload</h3>
          <form class="column-center" action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" id="file" required/>
            <button class="btn-primary" type="submit" name="submit"> <i class="fas fa-upload"></i> Upload </button>
          </form>

        </div>

        <div class="form-custom" >
          <h3>Multiple Upload</h3>
          <form enctype="multipart/form-data" method="POST" action="/upload">
            <input type="file" id="file" name="file[]" multiple="multiple" required />
            <button class="btn-primary"  name="enviar" type="submit" > <i class="fas fa-upload"></i> Upload  </button>
        </form>

        </div>




        <a class="btn-primary" href="/"><i class="fa fa-home"></i> Back To Home</a>
   </div>
  {% endblock %}
