{% extends 'layout.html' %}
{% block home %} 

<h1>Maker</h1>
<p>Usage: /maker/{command}/{option[:data]}</p>


<table border="1"  > 
	<thead>  
		<th>Command:</th>  
		<th>Options:</th>
		<th>Description:</th> 
	</thead>
	<tbody>	
		{% for command in commands  %}
			<tr> 
				<td>{{ command.name }} </td>
				<td>{{ command.options }}</td>
			    <td>{{ command.description }} 
				 	<a href="{{ command.link.href }}"> {{command.link.title}} </a> 
				</td> 
			</tr>  
		{% endfor %}
	</tbody>
</table> 


{% endblock %} 